<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list trotual tailwind</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="practice/dist/output.css" rel="stylesheet">
        <script src="practice/live.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"
            integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<div id="app" class="relative">
    <div class="container mx-auto  bg-blue-100/70 flex flex-wrap place-content-around gap-3 py-3 group"
         v-for="(item,key) in list">

        <h1 class="font-extrabold text-3xl mx-6 w-full group-hover:static group-hover:top-0">
            <span class="border border-2 rounded-full "
                  :class="{'px-1':item.Meta.id.toString().length ==2,'py-1':item.Meta.id.toString().length ==2,'px-2':item.Meta.id.toString().length ==1}">{{item.Meta.id}}</span>
            {{item.Meta.name}}</h1>

        <template v-for="(cardItem,cardKey) in item">
            <div class="hover:shadow-xl hover:shadow-blue-300/70 group relative shadow-lg shadow-blue-300/30 bg-orange-100 w-full  max-w-xs  rounded-lg"
                 v-if="cardKey !== 'Meta'">
                <div>


                    <img src="../../dist/img/image-1.jpg" class="rounded-t-lg" alt="">
                    <!--                <iframe :src="cardItem.url"-->
                    <!--                        class="rounded-t-lg w-full object-contain"-->
                    <!--                        frameborder="0" allowfullscreen></iframe>-->
                </div>

                <a class=" text-center text-3xl " href="#">
                    <div class="w-full bg-amber-200 my-2 py-2 whitespace-pre-wrap break-words">{{cardItem.name}}</div>
                </a>

                <a class=" text-center text-3xl " href="#">
                    <div class="w-full bg-amber-200 my-2 py-2">practice</div>
                </a>
                <div :class="{'px-1':cardItem.id.length ==2,'px-2':cardItem.id.length ==1}" class="bg-blue-100 group-hover:bg-blue-100/70 border border-2 group-hover:border-blue-100 absolute bottom-0 bg-stone-300/80
            rounded-full  text-2xl  group-hover:animate-bounce group-hover:ml-2">{{cardItem.id}}
                </div>
            </div>
        </template>

    </div>
</div>

<script>

    const {createApp} = Vue

    createApp({
        data() {
            return {
                list: {}
            }
        },
        mounted() {
            axios
                .get('./practice/src/list.json')
                .then(response => (this.list = response.data))
        }
    }).mount('#app')
</script>
</body>
</html>